@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.container-prev {
	max-width: 1200px;
	min-height: 88.7vh;
	margin: auto;
	padding: 20px;
	background: linear-gradient(135deg, #19c2ba, #007bff);
	border-radius: 20px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding-top: 100px;
}

h1 {
	font-size: 2rem;
	color: #fff;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

p {
	color: #fff;
	font-size: 1.1rem;
	margin-bottom: 15px;
}

p.attention {
	margin: 10px;
	color: #1f3a52;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 10px;
}

select {
	width: 80%;
	padding: 12px;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	background: #ecf0f1;
	color: #333;
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

select:hover {
	transform: scale(1.05);
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 20px;
	background: #ecf0f1;
	border-radius: 15px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-content h2 {
	font-size: 1.8rem;
	color: #2c3e50;
}

.form-group {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 15px 0;
}
.form-group input {
	padding: 5px;
}

label {
	font-weight: bold;
	color: #2c3e50;
	margin-bottom: 5px;
}

.input-data {
	width: 100%;
	padding: 12px;
	border: 2px solid #bdc3c7;
	border-radius: 10px;
	font-size: 1rem;
	transition: all 0.3s ease;
}

.input-data:focus {
	border-color: #2980b9;
	outline: none;
	box-shadow: 0px 0px 10px rgba(41, 128, 185, 0.5);
}

button {
	width: 100%;
	padding: 12px;
	font-size: 1.1rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background: linear-gradient(135deg, #1a252f, #2c3e50);
	color: #fff;
	font-weight: bold;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

button:hover {
	transform: scale(1.05);
	background: linear-gradient(135deg, #1f3a52, #2c3e50);
}

.modal-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-content p {
	color: #1a252f;
}

.loader {
	width: 40px;
	height: 40px;
	border: 4px solid #ccc;
	border-top: 4px solid #007bff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 10px auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 600px) {
	.container-prev {
		padding: 15px;
		margin-top: 100px; /* Aumenta il margine su schermi piccoli */
	}

	select,
	button {
		width: 100%;
	}
}
